<html>
<head>
  <title>CiscoHab</title>
  <style>
    body {
      font-family: "Courier New";
    }
  </style>
</head>
<body>
  CiscoHab v1.0 <small>by <a href="https://gitlab.com/ovivtash/ciscohab" target="_blank">Oleg Vivtash</a></small> <br><br>
  <a href="<%= [settings.ciscohab_url, 'sites'].join('/') %>">OpenHAB Sitemaps</a>
  <% unless settings.cisco_directory_url.empty? %>
  <br><a href="<%= [settings.ciscohab_url, 'phonebook'].join('/') %>">Directory Menu</a>
  <% end %>
</body>
</html>